@import "components/navBar";
@import "components/variables";
@import "components/titleStyles";
@import "components/mapColors";

.space {
    margin-top: 2rem;
}

.transform {
    transition: transform .2s ease-in-out;
    &:hover {
    transform: scale(1, 1.1);
    }
}

.textIndex {
    font-size: $fontNav;
    font-family: 'rubik', Times, serif;
}

@media screen and (max-width: 1199px) {
    .textIndex {
        font-size: 1rem;
    }
    .zoomImg {
        transition: all 3s;
        &:hover {
            width: 100%;
            height: auto;
        }
    }
}

.bgGradient {
    background: linear-gradient(cyan, white);
}