@import "variables";
@import "mixin";
@import "mapColors";


.titleStyle {
    background-color: $backgroundOpacity;
    backdrop-filter: blur(1rem) hue-rotate(240deg) opacity(0.75) invert(1);
    color: rgb(255, 255, 255);
    font-size: 4vw;
}

.heroImg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/hotele-reception.jpg");
    @include bgImg;
}

.heroImgG {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/heroIMG-galery.jpg");
    @include bgImg;
}

.heroImgR {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/heroimgAloja.jpg");
    @include bgImg;
}

.heroImgIndex {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/indexim.jpg");
    @include bgImg;
}

.heroText {
    p {
        font-size: 2vw ;
    }
    h1 {
    font-size: 5vw;
    }
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }

@media screen and (max-width: 600px) {
    .heroText {
        p {
            font-size: 3vw;
        }
        h1 {
            font-size: 10vw;
        }
    }
}



